@model IEnumerable<FinalProject.Models.Car>
@{
    ViewData["Title"] = "Index";
}

<h1>Cars List</h1>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61g
<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-sm-6">
            @if (User.Identity.IsAuthenticated) // the create button will only show to an authenticated user 
            {
                <a class="btn btn-primary" asp-action="Create">Create New</a>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Image)</th>
                        <th>@Html.DisplayNameFor(model => model.Brand)</th>
                        <th>@Html.DisplayNameFor(model => model.Model)</th>
                        <th>@Html.DisplayNameFor(model => model.ModelYear)</th>
                        <th>@Html.DisplayNameFor(model => model.Color)</th>
                          @if (User.Identity.IsAuthenticated)
                            {
                        <th>
                                @Html.DisplayNameFor(model => model.Bought)
                        </th>
                            }
                        <th>@Html.DisplayNameFor(model => model.Sell)</th>
                        <th>@Html.DisplayNameFor(model => model.AgentName)</th>
                        <th>@Html.DisplayNameFor(model => model.Status)</th>
                        <th>@Html.DisplayNameFor(model => model.Phone)</th>
                        <th>@Html.DisplayNameFor(model => model.Email)</th>
                        <th>Actions</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @if (item.Status == "Sold" && User.Identity.IsAuthenticated)  // check if the car is sold to display it only for authenticated user and not a customer
                        {
                            <tr>
                                <td>
                                    <div id="img" class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                        <img src="@item.Image" class="img-fluid" width="120px" height="120px" />
                                        <a href="#!">
                                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                        </a>
                                    </div>
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.Brand)</td>
                                <td>@Html.DisplayFor(modelItem => item.Model)</td>
                                <td>@Html.DisplayFor(modelItem => item.ModelYear)</td>
                                <td>@Html.DisplayFor(modelItem => item.Color)</td>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Bought)

                                    </td>
                                }
                                <td>@Html.DisplayFor(modelItem => item.Sell)</td>

                                <td>@Html.DisplayFor(modelItem => item.AgentName)</td>
                                <td>
                                    @if (item.Status == "Available")  // color the text depends on the status of the car
                                    {
                                        <span class="badge bg-success">Available</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger">Sold</span>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                              <td>
                                 <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm mr-1">Details</a>
                                     @if (User.Identity.IsAuthenticated)
                                     {
                                       <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary btn-sm mr-1">Edit</a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                                    }
                             </td>
                            </tr>
                        }
                        else
                        {
                            @if (item.Status == "Available")  // if the car is available to show it to everyone 
                            {
                                <tr>
                                    <td>
                                        <div id="img" class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                            <img src="@item.Image" class="img-fluid" width="120px" height="120px" />
                                            <a href="#!">
                                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                            </a>
                                        </div>

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Brand)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Model)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ModelYear)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Color)
                                    </td>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Bought)

                                        </td>
                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sell)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.AgentName)
                                    </td>
                                    <td>
                                        @if (item.Status == "Available") // color the text depends on the status of the car
                                        {
                                            <span class="badge bg-success">Available</span>

                                        }
                                        else
                                        {
                                            <span class="badge bg-danger">Sold</span>
                                        }

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Phone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm mr-1">Details</a>
                                        @if (User.Identity.IsAuthenticated) // the edit and delete buttons only will show to authenticated users
                                        {
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary btn-sm mr-1">Edit</a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                                        }
                                    </td>

                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
